/* Variables */
:root {
  /* Primary Colors */
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  /* Neutral colors */
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
  --toggle-display: inline-block;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Plus_Jakarta_Sans;
  src: url(../fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
html {
  font-size: 16px;
  font-family: Plus_Jakarta_Sans;
}

body {
  /* background-color: #f9fafe; */
  background-color: var(--very-light-grayish-blue);
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}
main {
  background-color: var(--white);
  border-radius: 25px;
  margin: 2px;
}

a {
  text-decoration: none;
}

/* ---------------------------------- */
/*          start header              */
/* ---------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}
header p {
  /* color: hsl(224, 21%, 14%); */
  color: hsl(224, 21%, 14%);
  font-size: 2rem;
  font-weight: 600;
  display: inline-block;
}

.header_notifi a {
  background-color: var(--blue);
  /* background-color: #08337a; */
  padding: 4px 15px;
  border-radius: 10px;
  color: var(--light-grayish-blue-2);
}

header a {
  /* color: #78797d; */
  color: var(--dark-grayish-blue);
  align-self: flex-end;
  font-weight: 500;
}
/* header a:hover {
  color: var(--blue);
} */
/* ---------------------------------- */
/*           end header               */
/* ---------------------------------- */

/* ---------------------------------- */
/*           start section            */
/* ---------------------------------- */

section a.unread {
  /* background-color: hsl(211, 68%, 94%); */
  background-color: var(--very-light-grayish-blue);
  border-radius: 15px;
  margin: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.user {
  /* color: #080a16; */
  color: var(--very-dark-blue);
  font-size: 1rem;
  font-weight: 700;
  margin-right: 5px;
}

.text_content p:first-child {
  /* color: #6c6f75; */
  color: var(--dark-grayish-blue);
  font-weight: 500;
}
.activation {
  /* color: #6d7077; */
  color: var(--blue);
  font-weight: 700;
}
p .red_dot {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--red);
  border-radius: 50%;
  display: inline-block;
  margin-left: 0.2rem;
}
.text_content p.time {
  color: var(--grayish-blue);
  /* color: #94979e; */
  font-weight: 500;
}
section a {
  display: flex;
  padding: 10px;
  align-items: center;
}
.picture {
  margin-left: auto;
}
.text_content p.private {
  padding: 15px;
  /* border: thin solid #94979e71; */
  border: thin solid var(--light-grayish-blue-1);
  margin-top: 15px;
  text-align: justify;
  color: var(--dark-grayish-blue);
  /* color: #6c6f75d3; */
  font-weight: 500;
}
.text_content p.private:hover {
  background-color: var(--light-grayish-blue-2);
}

/* ---------------------------------- */
/*             end section            */
/* ---------------------------------- */

/* ---------------------------------- */
/*           start footer             */
/* ---------------------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  /* color: hsl(228, 45%, 44%); */
  color: var(--blue);
}
/* ---------------------------------- */
/*           end footer             */
/* ---------------------------------- */

@media (min-width: 576px) {
  main {
    margin: 20px;
  }
}

@media (min-width: 768px) {
  main {
    width: 70%;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
  main {
    width: 60%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1340px;
  }
}
